<!-- ログイン画面 -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <label for="email">メールアドレス</label><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="password">パスワード</label>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <div class="action text-center">
          <%= f.submit "ログインする", class: "btn text-centers" %>
        </div>
        <div class="link-action text-center">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
